* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  background-color: rgb(89, 89, 173);
}

#cal > h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

#info {
  background-color: rgb(102, 102, 207);
  margin: 15px 200px;
  padding: 20px 0 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 5px;
  gap: 20px;
}

input {
  font-family: monospace;
  width: 70%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
}

button {
  font-family: monospace;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(137, 137, 240);
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

#result {
  background-color: rgb(102, 102, 207);
  color: white;
  margin: 15px 200px;
  padding: 20px 0px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 5px;
  gap: 20px;
}
